 .right--44{right: -40px;}
 .swiper-slide .img{display: block; width: 100%; height: 100%; object-fit: cover;}
 .swiper-slide{height: auto !important; width: 100%;}
 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #020911 !important;
}
.border-gred-linear {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%);
    border-image-slice: 1;}
.text-gredient {
    background: linear-gradient(90deg, #ffa280 0%, #8fd9cb 100%); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;}
html{scroll-behavior: smooth;}